{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="icon" href="icon.png" />
  </head>

  <body>
    <div class="navbar">
      <img src="https://prescripto.vercel.app/assets/logo-BNCDj_dh.svg" alt="">
    </div>

    <section class="signup-page">
        <div class="signup">
          <h2>Create Account</h2>
          <p>Please sign up to book an appointment</p>
      
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="fullname">Full Name:</label><br />
            <input type="text" id="fullname" name="full_name" required /><br /><br />
      
            <label for="email">Email:</label><br />
            <input type="email" id="email" name="email" required /><br /><br />
      
            <label for="password">Password:</label><br />
            <input type="password" id="password" name="password" required /><br /><br />
      
            <label for="confirm_password">Confirm Password:</label><br />
            <input type="password" id="confirm_password" name="confirm_password" required /><br /><br /><br />
      
            <!-- Contact Number -->
            <label for="contact_number">Contact Number:</label><br />
            <input type="tel" id="contact_number" name="contact_number" required /><br /><br />
      
            <!-- Address -->
            <label for="address">Address:</label><br />
            <textarea id="address" name="address" required></textarea><br /><br />
      
            <!-- Date of Birth -->
            <label for="dob">Date of Birth:</label><br />
            <input type="date" id="dob" name="dob" required /><br /><br />
      
            <!-- Gender -->
            <label for="gender">Gender:</label><br />
            <select id="gender" name="gender" required>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select><br /><br />
      
            <!-- Profile Picture -->
            <label for="profile_picture">Profile Picture:</label><br />
            <input type="file" name="profile_picture" /><br /><br />
      
            <button type="submit" class="btn-submit" style="cursor: pointer;">Sign Up</button>
      
            <div>
              {% if error %}
                <p style="color: red; text-align: center;">{{ error }}</p>
              {% endif %}
            </div>
          </form>
      
          <p>
            Already have an account?
            <a href="{% url 'loginpage' %}">Login here</a>
          </p>
        </div>
      </section>
      
      
  </body>
</html>
